<!DOCTYPE html>               <!--type de document-->
<html lang="en">              <!--balise racine HTML avec la langue par defaut en anglais-->
<head>                        <!--en-tete-->
    <title>{{.Name}}</title>                                        <!--titre de la page qui apparait dans le navigateur-->
    <link href="ressources/groupStyle.css" rel="stylesheet">        <!--lien vers la feuille de style css-->
    <link rel="preconnect" href="https://fonts.googleapis.com">     <!--préconnexions aux serveurs de la police google pour améliorer le chargement-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>                                                              <!--corp de la page-->
    <header>                                                        <!--en-tete de la page-->
        <h1>{{.Name}}</h1>                                          <!--titre principal-->
        <button><a href="/"><h3>Back to groups</h3></a></button>    <!--bouton pour revenir à la page précédente grace au lien qui renvoi à la racine du site-->
    </header>
    
    <main id="groups-container">                         <!--conteneur principal contenant l'intégralité des informations du groupe-->
        <div class="group-generalDescription">           <!--conteneur pour les informations générales du groupe-->
            <img src="{{.Image}}" alt="Group Picture">   <!--image du groupe -->
            <div class="group-detailDescription">        <!--conteneur pour les informations détaillées du groupe, dans cette partie une description des membres du groupe-->
                <h2>Group members: </h2>                 <!--titre de la div contenant les membres du groupe-->
                <ul>                                     <!--liste non ordonnée pour afficher les membres du groupe-->
                    {{range .Members}}                   <!--boucle en go qui fait la liste de tous les membres du groupe-->
                        <p>{{.}}</p>                     <!--affichage de chaque membre trouvé dans la liste-->
                    {{end}}                              <!--fin de boucle-->
                </ul>
            </div>
        </div>
        <div class="group-generalDescription">          <!--deuxieme conteneur pour les informations générales du groupe-->
            <div id="fondation-group">                  <!--conteneur pour les informations de bases sur la création du groupe-->
                <p>Creation date: {{.CreationDate}}</p> <!--date de création du groupe-->
                <p>First album: {{.FirstAlbum}}</p>     <!--premier album du groupe-->
            </div>

            <div class="group-detailDescription">   <!--deuxieme conteneur pour les informations détaillées du groupe, dans cette partie une description des concerts du groupe-->  
                <h2>Concert date: </h2>             <!--titre de la div contenant les dates des concerts du groupe-->   
                <ul>                                <!--liste non ordonnée pour afficher les dates des concerts du groupe-->
                    {{range .Concerts}}             <!--boucle en go qui fait la liste de tous les concerts du groupe-->
                    <p><a href="https://www.google.fr/maps/place/{{.ConcertPlace}}">{{.ConcertPlace}}</a> : {{.ConcertDate}}</p>    <!--affichage de chaque concert trouvé dans la liste avec un lien vers google maps pour la localisation du concert-->
                    {{end}}                        <!--fin de boucle-->
                </ul>
            </div>
        </div>
    </main>
</body>
</html>
