<!--<!DOCTYPE html>
<html lang="en">
<head>
    <title>Groupie Tracker</title>
    <link href="ressources/searchStyle.css" rel="stylesheet">
</head>
<body>
    <header> 
        <img src="ressources/background.png" alt="backgroundPicture" id="background">
        <h1>Groupie Tracker</h1>
        <div class="search-bar">
            <form action="/" method="post">           
                <input type="text" placeholder="search a group..." name="userInput"/>
                <button type="submit">Search</button>
                <select form="searchForm" name="searchType">
                    <option value="1">Name</option>
                    <option value="2">First Album Name</option>
                    <option value="3">Creation Date</option>
                    <option value="4">Members</option>
                </select>
            </form>
        </div>
    </header>
    <div class="groups-container">
    {{range .Groups}}
        <div class="item-group">
            <img src="{{.Image}}" alt="Group Picture">
            <a href="/info?id={{.ID}}"><h4>{{.Name}}</h4></a>
        </div>
    {{end}}
    </div>
</body>
</html>
-->
