<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Name}}</title>
    <link href="ressources/groupStyle.css" rel="stylesheet">
</head>
<body>
    <div class="global-container">
        <header> 
            <h1><a href="/">{{.Name}}</a></h1>
        </header>
    
        <div class="groups-container">
            <div class="item-group">
                <img src="{{.Image}}" alt="Group Image">
                <h2>Nom du Groupe: {{.Name}}</h2>
                <p><strong>Date de création:</strong> {{.CreationDate}}</p>
                <p><strong>Premier album:</strong> {{.FirstAlbum}}</p>
                <a onclick="showModal()">Concert</a>
                <p><strong>Membres:</strong></p>
                <ul>
                    {{range .Members}}
                        <li>{{.}}</li>
                    {{end}}
                </ul>
            </div>
            </div>
            <div class="overlay"></div>
            <div class="modal">
                <h2>Fenêtre au milieu</h2>
                {{range .Concerts}}
                    <p>{{.}}</p>
                {{end}}
                <button class="close-btn" onclick="closeModal()">Fermer</button>
                <script>
                    function closeModal() {
                        document.querySelector('.overlay').style.display = 'none';
                        document.querySelector('.modal').style.display = 'none';
                    }
                    function showModal() {
                        document.querySelector('.overlay').style.display = 'block';
                        document.querySelector('.modal').style.display = 'block';
                    }
                </script>
            </div>
        </div>
    </div>
</body>
</html>
