body {
    display:grid;
    grid-template-rows: auto 1fr;/*le header prend l'espace qu'il lui faut et group-contaner prend tout l'espace restant*/
    height: 100vh;/*prend toute la hauteur de l'écran*/
    margin: 0;
    padding: 0;
    background-color:#000;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

header {
    display: flex;
    position: relative;
    flex-direction: column;
    background-size: 100% auto;/*l'image s'adapte à la largeur du header et automatiquement en hauteur*/
    background-repeat: no-repeat;
    background-position:center;
    height: 35vh;/*le header occupe 35% de la fenetre*/
}

header img{
    position: absolute;/*l'image est positionnée par rapport au header et prend toute la place*/
    width: 100%;
    height: 100%;/*assure que picture prends la hauteur du header*/
    object-fit: cover;/*l'image s'adapte à la taille du header*/
    object-position: center;
}

header h1 {
    display: flex;
    position:relative;
    margin: 0;
    padding-top: 4vh;/*positionné à 4% de la hauteur de l'image*/
    justify-content: center;
    font-size: 10vw;/*10% proportionnellement à la taille de l'écran*/
    text-shadow:5px 5px 2px rgba(0, 0, 0, 0.5);/*contour du texte*//*horizontale, verticale, floutage, couleur*/
    max-width: 100%;/*évite de débordement*/
    color: #ffd900;
}

.search-bar {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 2% auto 0%;/*2% en haut, 0% en bas et auto sur les cotés*/
    max-width: 100%;
    justify-content: space-evenly;
}

.search-bar [type="text"] {
    flex: 1;
    padding: 1.5vh 2vw;
    font-size: 1.5vw;
    text-align: center;
    color: #ffd900 !important;
    background-color:#53005d !important;
    border: 2px solid #ffd900 !important;
    border-radius: 5px !important;
    box-sizing: border-box  !important;
}

.search-bar button {
    flex: 2;
    padding: 1.8vh 2vw;
    font-size: 1.3vw;
    color: #ffd900 !important;
    background-color:#53005d;
    border: 2px solid #ffd900;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.search-bar button:hover {
    background-color: #ffd900 !important;
    color: #000 !important;
}

.search-bar button:active {
    background-color: #e602ff !important;
}

.search-bar *::selection {
    background-color: #ffd900 !important;/*change la couleur de selection des items de la search-bar*/
}

.search-bar select {
    flex: 3;
    padding: 1.5vh 2vw;
    font-size: 1.5vw;
    color: #ffd900 !important;
    background-color:#53005d;
    border: 2px solid #ffd900;
    border-radius: 5px;
    box-sizing: border-box;
}

.groups-container {
    display: flex;
    flex-flow: row wrap;
    padding-top: 5%;
    padding-bottom: 10%;
    justify-content: center;
    gap: 5vw;
    height: calc(100vh - 160px);/* Ajuste en fonction de l'espace pris par le header */
    background: #250042;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
    overflow: auto;/*ajoute un défilement si necessaire*/
}

.item-group {
    width: 13%;
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    text-align: center;
    padding-bottom:2%;
}

.item-group img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
}

.item-group img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.item-group h4 {
    text-align: center;
    padding-top:7%;
    margin: 5px 0 0;
    font-size: 2vw;
    font-weight: bold;
    color: #fb2bff;
}